<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center mb-2">Edit Form</h1>
        <div class="col-6 offset-3">
            <form action="/question/<%= question._id %>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label for="question" class="form-label">Question</label>
                    <textarea name="query[question]" id="question" cols="30" rows="5" class="form-control">
<%= question.question %></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Choose Image</label>
                    <input type="file" name="image" id="image" multiple />
                </div>
                <div class="mb-3">
                    <h4>Choose Images to Delete</h4>
                    <% question.images.forEach(function(img,i){ %>
                        <img src="<%= img.url %>" alt="" class="img-thumbnail"
                            style="max-width: 80px; max-height: 80px" />
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%= i %>"
                                value="<%= img.filename %>" />

                            <label for="image-<%= i %>">Delete This Image</label>
                        </div>
                        <% }) %>
                </div>
                <!-- <div>
            <label for="date">Date</label>
            <input type="date" name="query[date]" id="date">
        </div> -->
                <div class="mb-3 d-grid">
                    <button class="btn btn-info">Submit Your Question</button>
                </div>
            </form>
        </div>
    </div>